body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f0f7ff;
    margin: 0;
}
h2{
    background:#fcfeff;
    margin: 0;
    padding: 7px;
    text-align: center;
}
.maincontainer{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.container{
    background: #fcfeff;
    /* margin: 30px 150px; */
    border: 2px solid #fcfeff;
    border-radius: 3%;
    box-shadow: #fcfeff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.container h4{
    /* background: red; */
    text-align: center;
    padding: 5px;
    margin: 0;
}
.container p{
    /* background: blue; */
    text-align: center;
    font-size: 12px;
    /* font-weight: bold; */
    margin: 0;
}
.upload{
    background: #f7fafc;
    /* margin: 20px 100px; */
    padding: 10px;
    border: 2px dashed rgb(205, 202, 202);
    border-radius: 2%;
    cursor: pointer;
}
.uploaddone{
    background: #f0fcf4;
    /* margin: 20px 100px; */
    padding: 10px;
    border: 2px dashed #00a63d;
    border-radius: 2%;
    cursor: pointer;
}
.imagediv{
    display: flex;
    justify-content: center;
}
.icondone
{
    height: 40px;
    background-color: #aaf3c2;
    border: 2px solid #aaf3c2;
    border-radius: 50%;
    padding: 7px;
}
.icon{
    height: 40px;
    background-color: #e3e8ff;
    border: 2px solid #e3e8ff;
    border-radius: 50%;
    padding: 7px;
}
.text{
     /* background: blue; */
    text-align: center;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
}
.btndiv{
    /* background: red; */
    display: flex;
    justify-content: center;
} 
.btn{
    width: 520px;
    height: 30px;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    margin: 10px;
    color: #9b9a9c;
}
.btndone{
    width: 520px;
    height: 30px;
    border: none;
    border-radius: 5%;
    margin: 10px;
    cursor: pointer;
    background-color: #8347fc;
    color: #ffffff;
}
.mainbotton{
    display: flex;
    justify-content: center;
}
.bottom{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    justify-content: space-between;
    padding: 5px 20px;
    gap: 10px;
    /* margin: 0px 150px; */

}
.box{
    background-color: #fcfeff;
    border: 2px solid #fcfeff;
    border-radius: 2%;
    padding: 5px;
    box-shadow: #e0edf4;
}
.box div{
    display: flex;
    justify-content: center;
}
.box img{
    height: 40px;
    width: 40px;
}
.box p{
    text-align: center;
    font-size: 18px;
}
.p2{
    color: gray;
}
.file{
    display: none;
}
.textdone{
    color: #00a63d;
}
.text2{
    color: grey;
}