.rnav{
    background:#fcfeff;
    display: flex;
    flex-direction: row;
}
.logo{
    cursor: pointer;
}
.rnav img{
    margin: 5px;
}
.mainbox{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: 100px;
    background-color: aqua;
}
.rbox{
    width: 30%;
    background-color: red;
    border-radius: 4%;
}
.rmaincontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    width: 95%;
    background-color: rgb(146, 146, 219);
}
.rcontainer{
    background-color: beige;
    width: 45%;
}
.cont{
    margin: 10px;
    padding: 10px;
    background-color: rgb(213, 189, 236);
}